@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@font-face {
  font-family: "Generation Mono";
  src: url("public/Generation-Mono.otf");
}

:root {
  --black-color: #131313;
  --white-color: #b12c2c;
  --grey-color: #db091e;
  --bright-color: #d72828;
  --green-color: #57d963;
}

html {
  background-color: var(--black-color);
}

* {
  font-family: "Geist Mono";
  font-weight: 400;
  font-size: 1rem;
}

.title {
  font-family: "Generation Mono";
}

body {
  width: 40rem;
  margin: 1rem auto;
}

.mobile-warning {
  display: none;
}

#connect-device {
  display: flex;
  justify-content: space-between;
}

#connect-device p {
  width: 70%;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

@media (max-width: 700px) {
  body {
    width: 90%;
    margin: 2rem auto;
  }
  #connect-device {
    display: none;
  }
  .mobile-warning {
    display: block;
    color: var(--white-color);
    line-height: 1.5;
  }
}

.primary,
.status {
  border: none;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 0px 2px 0px 2px;
  width: max-content;
  height: max-content;
}

.status[data-status="connected"],
.status[data-status="saved"] {
  background-color: var(--green-color);
}

button {
  cursor: pointer;
}

.secondary {
  border: none;
  color: var(--white-color);
  background-color: transparent;
  outline: var(--white-color) 1px solid;
  padding: 0px 2px 0px 2px;
  width: max-content;
  height: max-content;
}

.info-text p {
  width: 70%;
  color: var(--white-color);
}

p {
  color: var(--white-color);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: space-between;
}

.graph-and-gain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  outline: 1px var(--white-color) solid;
}

.graph-lines text {
  fill: var(--white-color);
  opacity: 50%;
  font-size: 0.8rem;
  padding-bottom: 10px;
}

svg line {
  stroke: var(--white-color);
  opacity: 30%;
}

#eq-path {
  stroke: var(--white-color);
}

.eq-point rect {
  fill: var(--white-color);
}

.eq-point text {
  fill: var(--black-color);
}

.fader {
  position: relative;
  width: 70px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  outline: 1px var(--white-color) solid;
}

.fader-inverted {
  background-color: transparent;
  outline: 1px var(--white-color) solid;
}

.fader-track-line {
  position: absolute;
  width: 2px;
  height: 280px;
  background: var(--black-color);
  opacity: 50%;
  top: 15px;
}

.fader-inverted .fader-track-line {
  background: var(--white-color);
}

.fader-handle {
  position: absolute;
  background: var(--black-color);
  color: var(--white-color);
  padding: 0px 2px 0px 2px;
  cursor: n-resize;
  user-select: none;
}

.fader-inverted .fader-handle {
  background: var(--white-color);
  color: var(--black-color);
}

.fader-value-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--black-color);
  color: var(--white-color);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.fader-inverted .fader-value-box {
  background: var(--white-color);
  color: var(--black-color);
}

.bands-container {
  display: flex;
  margin-top: 1.2rem;
  overflow-x: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  justify-content: space-between;
  width: 100%;
  margin-right: -5px;
}

.band-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 4.8rem;
  flex: 0 0 auto;
}

.band-inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 60px;
  align-items: center;
}

select option {
  background-color: var(--black-color);
  color: var(--white-color);
}

.band-numeric-input {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  color: var(--white-color);
  gap: 2px;
}

.input-with-unit {
  display: flex;
  align-items: center;
  border: 1px solid var(--white-color);
  padding: 2px 4px;
  width: fit-content;
}

.input-with-unit input,
.band-numeric-input > input {
  background: transparent;
  color: var(--white-color);
  border: none;
  padding: 0;
  outline: none;
  font-family: "Geist Mono";
}

.band-numeric-input > input {
  border: 1px solid var(--white-color);
  padding: 2px 4px;
  width: fit-content;
}

.unit {
  color: var(--white-color);
}

.slider {
  position: absolute;
  top: 10px;
  height: 260px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

table {
  margin-top: 0.6rem;
  padding: 0px;
  width: 100%;
  color: var(--white-color);
  opacity: 50%;
}

tr td:nth-child(2) {
  text-align: right;
}

.email {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: var(--bright-color);
  text-decoration: underline;
}
