@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

html {
  background-color: #121212;
}

* {
  font-family: "Geist Mono";
  font-weight: 400;
  font-size: 1rem;
}

body {
  width: 40rem;
  margin: 1rem auto;
}

.mobile-warning {
  display: none;
}

#connect-device {
  display: flex;
  justify-content: space-between;
}

#connect-device p {
  width: 70%;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

@media (max-width: 700px) {
  body {
    width: 90%;
    margin: 2rem auto;
  }
  #connect-device {
    display: none;
  }
  .mobile-warning {
    display: block;
    color: #e2e2e2;
    line-height: 1.5;
  }
}

.primary,
.status {
  border: none;
  background-color: #e2e2e2;
  color: #000000;
  padding: 0px 2px 0px 2px;
  width: max-content;
  height: max-content;
}

.status[data-status="online"],
.status[data-status="synced"] {
  background-color: #00ff5d;
}

button {
  cursor: pointer;
}

.secondary {
  border: none;
  color: #e2e2e2;
  background-color: transparent;
  outline: #e2e2e2 1px solid;
  padding: 0px 2px 0px 2px;
  width: max-content;
  height: max-content;
}

.info-text p {
  width: 70%;
  color: #e2e2e2;
}

p {
  color: #e2e2e2;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.graph-and-gain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  outline: 1px #e2e2e2 solid;
}

.graph-lines text {
  fill: #ffffff;
  opacity: 50%;
  font-size: 0.8rem;
  padding-bottom: 10px;
}

svg line {
  stroke: #ffffff;
  opacity: 30%;
}

.eq-point rect {
  fill: #e2e2e2;
}

.eq-point text {
  fill: #000000;
}

.fader {
  position: relative;
  width: 70px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2e2e2;
  outline: 1px #e2e2e2 solid;
}

.fader-inverted {
  background-color: transparent;
  outline: 1px #e2e2e2 solid;
}

.fader-track-line {
  position: absolute;
  width: 2px;
  height: 260px;
  background: #aaa;
  top: 10px;
}

.fader-inverted .fader-track-line {
  background: #333;
}

.fader-handle {
  position: absolute;
  background: #111;
  color: white;
  padding: 0px 2px 0px 2px;
  cursor: n-resize;
  user-select: none;
}

.fader-inverted .fader-handle {
  background: #e2e2e2;
  color: #000;
}

.fader-value-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.fader-inverted .fader-value-box {
  background: #e2e2e2;
  color: #000;
}

.bands-container {
  display: flex;
  margin-top: 1.2rem;
  overflow-x: visible;
  padding-top: 3px;
  justify-content: space-between;
}

.band-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 4.5rem;
}

.band-inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 60px;
  align-items: center;
}

select option {
  background-color: #121212;
  color: #e2e2e2;
}

.band-numeric-input {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  color: #888;
  gap: 2px;
}

.input-with-unit {
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e2;
  padding: 2px 4px;
  width: fit-content;
}

.input-with-unit input,
.band-numeric-input > input {
  background: transparent;
  color: #eee;
  border: none;
  padding: 0;
  outline: none;
  font-family: "Geist Mono";
}

.band-numeric-input > input {
  border: 1px solid #e2e2e2;
  padding: 2px 4px;
  width: fit-content;
}

.unit {
  color: #eee;
}

.slider {
  position: absolute;
  top: 10px;
  height: 260px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

table {
  margin-top: 0.6rem;
  padding: 0px;
  width: 100%;
  color: #e2e2e2;
  opacity: 50%;
}

tr td:nth-child(2) {
  text-align: right;
}

.email {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  text-decoration: underline;
}
